<div class="row">
    <div class="col-md-12">
        <h3>Lista de Empresas</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ">

        <a class="btn btn-success" asp-action="Novo">Cadastrar Empresa</a>
        <button class="btn btn-primary float-right" id="btn-listar-empresas">Listar Empresas</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="padding-top: 30px">
        <div class="listagem-empresas">
            <div id="lista-empresas">Carregando...</div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            listarEmpresas(1);

            $(document).on("click", "#btn-listar-empresas", function () {
                listarEmpresas(1);
            });

            $(document).on("click", ".registro-empresa", function () {
                let id = $(this).data("id-empresa");
                window.location.href = "/empresas/Alterar/" + id;
            });
        });

        function listarEmpresas(pagina) {
            $.ajax({
                method: "GET",
                url: "/empresas/ListaEmpresas",
                data: { pagina: pagina },
                beforeSend: function () {
                    $("#resultado").html("Pesquisando...");
                }
            })
                .done(function (response) {
                    $("#lista-empresas").html(response);
                });
        }
    </script>
}

<style>
    .registro-empresa-estilo:hover {
        background-color: #808080;
        cursor: pointer;
    }
</style>