@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

<div>
    <button class="btn btn-primary" id="SendMensagem">Enviar Mensagem Teste</button>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
</script>
<script>
    $(document).ready(function () {
        $(document).on("click", "#SendMensagem", function () {
            $.ajax({
                url: "Home/SendMensagem",
                method: "POST",
                async: true
            }).done(function (response) {
                console.log("Mensagem Enviada");
            })
                .catch(function (response) {

                    console.log("Mensagem de erro: ", response);
                });
        })
    });
</script>