@model TransformacaoDigital.MVC.ViewModels.LoginViewModel

<div class="row">
    <div class="col-md-12">
        <form method="post" action="/Login/Index">
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email" />

            <label for="Senha">Senha:</label>
            <input type="password" id="senha" name="senha" />

            <button type="submit" class="btn btn-primary">Acessar</button>
        </form>
    </div>
</div>